body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1219px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:87px;
}
#u36 {
  position:absolute;
  left:21px;
  top:45px;
  width:361px;
  height:86px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:87px;
}
#u38 {
  position:absolute;
  left:21px;
  top:173px;
  width:337px;
  height:86px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:59px;
}
#u40 {
  position:absolute;
  left:21px;
  top:301px;
  width:511px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  white-space:nowrap;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:87px;
}
#u42 {
  position:absolute;
  left:21px;
  top:400px;
  width:433px;
  height:86px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:87px;
}
#u44 {
  position:absolute;
  left:21px;
  top:504px;
  width:745px;
  height:86px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  white-space:nowrap;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:59px;
}
#u46 {
  position:absolute;
  left:570px;
  top:45px;
  width:337px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:59px;
}
#u48 {
  position:absolute;
  left:570px;
  top:161px;
  width:649px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  white-space:nowrap;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:59px;
}
#u50 {
  position:absolute;
  left:570px;
  top:287px;
  width:521px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  white-space:nowrap;
}
